[Unit]
Description=Close training assessments every minute

[Timer]
OnCalendar=*-*-* *:*:00 Asia/Ho_Chi_Minh
AccuracySec=1s
Persistent=true
Unit=workspace-assessment-closing.service

[Install]
WantedBy=timers.target
