[Unit]
Description=Detect examination Sheet changes every minute for manual review

[Timer]
OnCalendar=*-*-* *:*:00 Asia/Ho_Chi_Minh
AccuracySec=1s
Persistent=true
Unit=workspace-examination-sheet-scan.service

[Install]
WantedBy=timers.target
